input, label, button {
  width : 170px;
  margin: 0;
  padding-left: 20px; 

  -webkit-box-sizing: border-box; /* For legacy WebKit based browsers */
     -moz-box-sizing: border-box; /* For legacy (Firefox <29) Gecko based browsers */
          box-sizing: border-box;
}

#result {
  background-color: #d4d6bc
}